@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
.size {
  height: 300px;
}
main {
  background-color: white;
  color: rgba(37, 113, 211, 0.959);
}
body {
  background-image: url("images1/rl.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#wrapper {
  width:60%;
  margin: auto;
  margin-top: 30px;
}
ul {
  list-style-image: url("images1/rlsmall.png");
}
.specialborder {
  border: 40px solid;
  padding: 0px;
  border-image: url(images1/border.png) 20 round;
}
a:link, a:active, a:visited {
  text-decoration: none;
  border: 5px;
  border-radius: 5px;
  color: black;
  background-color: linen;
  padding: 6px;
  font-family: "DotGothic16";
}